<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Go Toronto: {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/application.css">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <header class="main">
      <a href="/">
        <div class="logo_container">
          <img class="logo" src="/assets/images/gopher.png">
        </div>
        <div class="headline">
          <h1>
            Go Toronto
          </h1>
          <div class="subline">
            Toronto's Golang Community website.
          </div>
        </div>
      </a>
      <ul class="links">
        <li><a href="https://twitter.com/GolangTO"     target="_blank" class="webicon twitter"></a></li>
        <li><a href="https://github.com/GoToronto"     target="_blank" class="webicon github"></a></li>
        <li><a href="http://www.meetup.com/go-toronto" target="_blank" class="webicon meetup"></a></li>
      </ul>
    </header>
    <div id="page-content" class="text-centered">
      {{ content }}
    </div>
  </body>
</html>
